{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{!-- <header class="header">
    <div class="header__content">
      <button class="header__button">
        <img src="/svg/back.svg">
      </button>
      <img class="header__image" src="/svg/avatar.svg">
    </div>
    <h1 class="header__title">Мій блог</h1>
  </header> --}}
  {{!-- <main class="list">
    <div class="post">
      <div class="post__header">
        <div class="post__category">
          <span class="post__category--1">Важливо</span>
          <span class="post__category--2">Нова</span>
        </div>
        <span class="post__date">25.01</span>
      </div>
      <p class="post__info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
    </div>
    <div class="post__viewed">
      <div class="post__header">
        <div class="post__category">
          <span class="post__category--1">Важливо</span>
          <span class="post__category--2">Нова</span>
        </div>
        <span class="post__date">15.01</span>
      </div>
      <p class="post__info--viewed">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.</p>
    </div>
    <div class="post">
      <div class="post__header">
        <div class="post__category">
          <span class="post__category--1">Важливо</span>
          <span class="post__category--2">Нова</span>
        </div>
        <span class="post__date">25.01</span>
      </div>
      <p class="post__info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
    </div>
  </main> --}}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}